nav, #logo1, #slogans, #filters, .shadowed {
	position: fixed;
}

#filters {
	margin-top: 225px;
	text-align: center;
}


#header {
	margin-left: 30%;
}

#logo1 {
	background: rgb(185, 10, 10);
	border-bottom: 2px solid black;
	border-bottom-right-radius: 80% 175px;
	border-right: 2px solid black;
	font-size: 30px;
	height: 200px;
	margin-top: 0px;
	padding-top: 45px;
	position: fixed;

	text-align: center;
	width: 25%;
	z-index: 100;
}


#slogans {
	background: rgba(50, 50, 50, .5);
	border-radius: 4px;
	font-size: 50px;
	height: 200px;
	margin-left: 30%;
	text-align: center;
	width: 50%;
}

.filter1 {
	margin-left: 200px;
}

.filter2 {
	margin-left: 200px;
}

.filter3 {
	margin-left: 200px;
}

.inline {
	display: inline;
}

.movie-info {
	background: rgba(200, 200, 200, .8);
	display: inline hidden;
	font-size: 100px;
	position: absolute;
	left: 100px;
	bottom: 100px;


}

.non-fixed {

}

.page-header {
	padding-left: 20px;
	z-index: 50;
}

.shadowed {
	background-color: rgb(222, 222, 222);
	border-radius: 10px;
	box-shadow: 0px -2px 5px rgb(111, 111, 111),
				0px 5px 10px rgb(111, 111, 111);
	height: 400px;
	width: 100%;
}

body {
	font-family: Calibri !important;
	height: 100%;
	width: 10000%;

}

html {
}

nav {
	height: 55px;
	position: fixed !important;
	width: 100%;
	z-index: 90 !important;
}

nav a {
	height: 30px;
	vertical-align: center;
}