<!DOCTYPE html>
<html>
<head>
	<!-- jQuery -->
	{% load staticfiles %}
	<script src="{% static "js/jquery.js" %}"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}">

	<!-- Optional theme 
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css">
-->

<!-- Application CSS -->
<link rel="stylesheet" href="{% static "css/application.css" %}">

<!-- Application JS -->
<script src="{% static "js/application.js" %}"></script>

<!-- jQuery mousewheel -->
<script src="{% static "js/jquery-mousewheel/jquery.mousewheel.js" %}"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<!-- Smooth div slide -->
<script src="{% static "js/image-slider/js/jquery.smoothDivScroll-1.3.js" %}"></script>
<link rel="stylesheet" href="{% static "js/image-slider/css/smoothDivScroll.css" %}"></script>


<script type="text/javascript">
$(document).ready(function() {
	var map= {{name_to_id_map|safe}}
	for (var i in map){
		console.log(map[i])
	}
	$('#move-search').keydown(function(e) {
		if (e.which === 13) {
			$('#default').fadeOut(1000, function() {
				$('.x-button').click(function() {
					$('#default').fadeIn(1000);
				});
			});

			movie_id=map[map.indexOf($('#move-search').val())+1];
			$('#lightbox' + movie_id).fadeIn(500);
			cur_lightbox = movie_id;
			// window.location="./search/"+($('#move-search').val().replace(" ", "+")); 
			return false;
		}
	});
});
</script>
<script>
$(function() {
	var availableTags = {{movie_json|safe}}
	console.log(availableTags)
	$( "#move-search" ).autocomplete({
		source: availableTags
	});
});
</script>
</head>

<body>

	<!-- Navigation Header -->

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<p id="to-top">Netfixxed</p>
			<p id="to-use">How to Use</p>
			<p id="the-team">The Team</p>
			
		</div>
	</nav>


	<div class="hero" class="parallax-2">
		<div id="default">
			<h1 class="maintext">Netfixxed</h1>
			<p class="lead slogan">Unlock the true potential of Netflix.</p>

			<div class="separation-line"></div>
			<form class="movie-form">
				<input class="movie-input" id="move-search" placeholder="Search Movies">
			</form>
		</div>
		<div id="use-info" hidden="">
			<h1>How to Use</h1>
		</div>
		<div id="team-info" hidden="">
			<h1>Team</h1>
			<img class="teammate" src="{% static "images/alan.jpg" %}" width="166px">
			<img class="teammate" src="{% static "images/matt.jpg" %}" width="166px">
			<img class="teammate" src="{% static "images/mike.png" %}" width="166px">
		</div>
	</div>

	<div id="scroll-movies" class="parallax-1">
		{% for movie in movies %}
		<img id="blink{{movie.id}}" src={{movie.pic_url}} />
		{% endfor %}
	</div>


	<div id="triangle">
		<p id="scroll-instr">Scroll</p>
		<img src="{% static "images/red-arrow.png" %}" width="96px">
	</div>

	<!-- <div class="shadow-bar"></div> -->

	<div id="choose-movies">

		<!-- EACH ROW IS A DISTINCT SECTION.  SPLIT MOVIES AMONGST THE THREE ROWS -->
		<h1>Critically Acclaimed</h1>
		<div id="row1" class="row">
			{% for movie in critically_acclaimed %}
			<a id="movie{{movie.id}}"><img src={{movie.pic_url}}></a>
			{% endfor %}
		</div>

		{% for movie in critically_acclaimed %}

		<div id="lightbox{{movie.id}}" class="lightbox" hidden="">
			<div class="x-button">X</div>
			<table>
				<tr>
					<th class="movie-name">{{movie.name}}</th>
					<th>Reviews</th>
					<th>Discuss</th>
				</tr>
				<tr>
					<td >
						<a href="{{movie.url}}" style="top: 20px;"><img src={{movie.pic_url}} class="poster" ></a>
						<br><br>
						<div class="ratings">
							<p><em>Ratings</em></p>
							<p>Critics: {{movie.critics_score}}</p>
							<p>Audience: {{movie.audience_score}}</p>
						</div>
					</td>
					<td>
						{% if not movie.quotes1 and not movie.quotes2 and not movie.quotes3 %}
						<p style="font-size: 20px; font-family: Arial;">* No reviews</p>
						{% endif %}
						{% if movie.quotes1 != "" %}

						<div style="border-bottom: 1px dotted white;">
							<p>"{{movie.quotes1}}"</p>
							
							<p style="float: right;">
								-{{movie.critic1}}
								{% if movie.fresh1 == "True" %} 
								<img src="{% static "images/fresh.png" %}" width="16px">
								{% endif %}
								{% if movie.fresh1 == "False" %}
								<img src="{% static "images/rotten.png" %}" width="16px">
								{% endif %}
							</p>
							<br>
						</div>
						{% endif %}
												{% if movie.quotes2 != "" %}

						<div style="border-bottom: 1px dotted white;">

							<p>"{{movie.quotes2}}"</p>
							<p style="float: right">
								-{{movie.critic2}}
								{% if movie.fresh2 == "True" %} 
								<img src="{% static "images/fresh.png" %}" width="16px">
								{% endif %}
								{% if movie.fresh2 == "False" %}
								<img src="{% static "images/rotten.png" %}" width="16px">
								{% endif %}
							</p><br>
						</div>
						{% endif %}
												{% if movie.quotes2 != "" %}
						<p>"{{movie.quotes3}}"</p>
						<p style="float: right">
							-{{movie.critic3}}
							{% if movie.fresh3 == "True" %} 
							<img src="{% static "images/fresh.png" %}" width="16px">
							{% endif %}
							{% if movie.fresh3 == "False" %}
							<img src="{% static "images/rotten.png" %}" width="16px">
							{% endif %}
						</p>
						{% endif %}
					</td>
					<td>
					</td>
				</tr>
			</table>
		</div>
		{% endfor %}

		<h1>Audience Favorites</h1>
		<div id="row2" class="row">
			{% for movie in fan_favorites %}
			<a id="audience{{movie.id}}"><img src={{movie.pic_url}}></a>

			{% endfor %}
		</div>
		
	</div>
	<!-- Create sliding galleries for movie images -->
	<script type="text/javascript">
	$(document).ready(function () {
		$("#row1").smoothDivScroll({
			mousewheelScrolling: "allDirections",
			manualContinuousScrolling: true,
			autoScrollingMode: "onStart"
		});
		$("#row2").smoothDivScroll({
			mousewheelScrolling: "allDirections",
			manualContinuousScrolling: true,
			autoScrollingMode: "onStart"
		});

	});
	</script>
</body>
</html>