@font-face
{
	font-family: netfix;
	src: url('planer.otf');
}

body {
	background-color: rgba(10, 10, 10, .9);
	font-family: netfix;
	padding-bottom: 20px;
}

.line {
	width: 90%;
	border-bottom: solid 1px white;
	padding-top: 25px;
	margin-bottom: 20px;
	margin: auto auto 25px 20px;
}

.score {
	color: white;
	font-size: 25px;
	padding-top: 25px;
}

.section-head {
	color: white;
	padding-top: 10px: 
}

#movie0 {
	border: 5px rgba(0, 0, 0, 1);
}

.movie-critic {
	color: white;
	font-size: 15px;
	padding-bottom: 5px; 
}

.snr {
	margin-bottom: -5px;
}

.head {
	height: 100px;
	width: 100%;
	background-color: #b9090b;
	padding-top: 0px;
	margin-top: -12px;
	padding-bottom: 10px;
}

.chat-header {
	font-family: netfix;
	font-size: 60px;
	text-align: center;
	color: white;
	padding: 55px 0px;
}

.chat-movie-img {
	float: left;
	padding: 10px;
}

.chattext {
	text-align: center;
}

.myPublisherDiv {
	margin: auto;
}

.others div {
	margin-top: auto;
}