.navbar-brand {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	font-size: 30px;
	padding-top: 25px;
	margin-bottom: 12px;
}

.scroll-movie {
	width: 110%;
	opacity: 0.8;
	background-color: black;
	margin-left: -25px;
}

.movie-image {
	margin: 0px -2px;
}

.mainbox {
	position: fixed;
	padding-top: 225px;
	width: 100%;
	text-align: center;
	z-index: 2;
	color: white;
}

.maintext {
	font-size: 1500%;
}

.slogan {
	width: 60%;
	text-align: center;
	margin: auto;
	font-size: 40px;
}

.subbox {
	background-color: black;
	padding: 30px;
	margin: 0px 300px;
	opacity: .75;
}

.movie-form {
	margin-top: 60px;
}

.movie-input {
	text-align: center;
	font-size: 40px;
	color: white;
	width: 70%;
	height: 85px;

	background-color: #1a1a1a;
	border: 1px solid gray
}