nav, #logo1, #slogans, #filters, .shadowed {
	position: fixed;
}

#filters {
	margin-top: 225px;
	text-align: center;
}


#header {
	margin-left: 30%;
}

#logo1 {
	border-bottom-right-radius: 80% 175px;
	margin-top: 0px;
	padding-top: 45px;
	text-align: center;
	width: 25%;
	z-index: 100;
}


#logo1, #logo2 {
	background: green;
	height: 200px;
	position: fixed;
}


#slogans {
	background: rgb(200, 90, 100);
	font-size: 50px;
	height: 200px;
	margin-left: 30%;
	text-align: center;
	width: 50%;
}

.filter1 {
	margin-left: 200px;
}

.filter2 {
	margin-left: 200px;
}

.filter3 {
	margin-left: 200px;
}

.inline {
	display: inline;
}

.non-fixed {

}

.page-header {
	padding-left: 20px;
	z-index: 50;
}

.shadowed {
	background-color: rgb(200, 180, 200);
	box-shadow:;
	height: 400px;
	width: 100%;
}

body {
	font-family: Calibri !important;
	height: 4000px;
	width: 10000%;

}

html {
}

nav {
	position: fixed !important;
	width: 100%;
	z-index: 50 !important;
}